@{
	ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
	<div class="text-center">
		Các trang quản lý để đã được hiện ra ở phía trên
	</div>
}else { 
<div class="text-center">
	<p>Trang quản lý nhân viên công ty bảo vệ</p>
	<h1>Đăng nhập để vào trang quản lý</h1>
</div>
}
