

@{
	ViewData["Title"] = "Danh sách tài khoản";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalCreate">
	Thêm tài khoản
</button>
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Tên tài Khoản
			</th>
			<th>
				Quyền
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="tbody">
	</tbody>
</table>

<!-- The Modal Thêm -->
<div class="modal" id="myModalCreate">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Thêm tài khoản</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<partial name="SingUp" />
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary add" data-bs-dismiss="modal">Thêm</button>
				<button type="button" class="btn btn-group-lg close" data-bs-dismiss="modal">Thoát</button>
			</div>

		</div>
	</div>
</div>

@section Scripts{
	<script src="~/lib/jquery-ajaxy/scripts/jquery.ajaxy.js"></script>
	<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
	<script src="~/js/User.js" asp-append-version="true"></script>
}
