@model CongTyBaoVe.Web.ViewModels.UserVM

@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-lg-center">
	<div class="col-md-4">
		<h1>Tạo tài khoản</h1>
		<form asp-action="SingUp">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="UserName" class="control-label"></label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ComfimlPassword" class="control-label"></label>
				<input asp-for="ComfimlPassword" class="form-control" />
				<span asp-validation-for="ComfimlPassword" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					Cấp quyền admin
					<input class="form-check-input" asp-for="IsAdmin" />
				</label>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
		<div>
			<a asp-action="Index">Quay về</a>
		</div>
	</div>
</div>


@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
 }

