@model CongTyBaoVe.Web.Entites.NhanVien

@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TenNhanVien" class="control-label"></label>
				<input asp-for="TenNhanVien" class="form-control" />
				<span asp-validation-for="TenNhanVien" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NamSinh" class="control-label"></label>
				<input asp-for="NamSinh" class="form-control" />
				<span asp-validation-for="NamSinh" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DiaChi" class="control-label"></label>
				<input asp-for="DiaChi" class="form-control" />
				<span asp-validation-for="DiaChi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SDT" class="control-label"></label>
				<input asp-for="SDT" class="form-control" />
				<span asp-validation-for="SDT" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="IdChucVu" class="control-label"></label>
				<select asp-for="IdChucVu" class="form-control" asp-items="@ViewBag.ChucVu as SelectList"></select>
				<span asp-validation-for="IdChucVu" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					Trạng thái làm việc (Chỉ dùng với nhân viên bảo vệ)
					<input class="form-check-input" asp-for="TrangThai" />
				</label>
			</div>

			<div class="pt-2 form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

